<div class="container">

  <h3>About Me</h3>

  <div class="card z-depth-3">
    <div class="card-content white-text">
      <div class="row">
        <div class="col m6">
          <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
          <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col m6">
          <div class="card-panle grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col m4">
                <%= image_tag "joker.jpg", class: "responsive-img" %>
              </div>
              <div class="col m8">
                <span class="black-text">
                  I dont't know what to say. Let the world tell you more... :)
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
